.translated {
  position: absolute;
  visibility: hidden;
}

.descriptiveText {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.root:has(.translated > font) {
  .decorativeText {
    position: absolute;
    visibility: hidden;
  }

  .descriptiveText {
    position: static;
    width: 100%;
    height: auto;
    overflow: visible;
    clip-path: none;
    white-space: normal;
    opacity: 1;
  }
}
