.root {
  display: flex;
  flex-direction: column;
  gap: calc(100cqmin / 100);

  justify-content: center;

  width: 70cqmin;
  height: 100cqh;

  padding-block: 8cqmin;
  margin: auto;
}

.mainPhrase {
  display: flex;
  flex-direction: column;
  font-weight: 400;

  gap: 0.3cqmin;

  & aside {
    grid-area: version;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 0.5cqmin 1cqmin;
    font-size: calc(15cqmin / 20);
  } 

  & > span:nth-child(1) {
    display: grid;
    grid-template-areas:
      "version creativity ."
      "where creativity and";
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, auto);
    place-items: end start;
    row-gap: 1cqmin;
  }

  & > span:nth-child(2) {
    line-height: 80%;
    font-size: calc(46cqmin / 5);
  }

  .where {
    display: inline-block;
    grid-area: where;
    line-height: 80%;
    font-size: calc(21cqmin / 5);
    margin-right: 0.3cqmin;
    letter-spacing: -0.08cqmin;
    opacity: 0;
  } 

  .creativity {
    display: inline-block;
    grid-area: creativity;
    line-height: 80%;
    font-size: calc(80cqmin / 9);
    letter-spacing: -0.3cqmin;
    opacity: 0;
  } 

  .and {
    display: inline-block;
    grid-area: and;
    line-height: 80%;
    font-size: calc(12cqmin / 3);
    margin-left: -1.0cqmin;
    letter-spacing: -0.08cqmin;
    opacity: 0;
  } 

  .logic {
    display: inline-block;
    line-height: 80%;
    font-size: calc(46cqmin / 5);
    margin-right: 0.3cqmin;
    letter-spacing: -0.4cqmin;
    opacity: 0;
  } 

  .meet {
    display: inline-block;
    grid-area: creativity;
    line-height: 80%;
    font-size: calc(30cqmin / 6);
    letter-spacing: -0.1cqmin;
    opacity: 0;
  } 

  .unite {
    display: inline-block;
    line-height: 80%;
    font-size: calc(46cqmin / 5);
    margin-right: -0.4cqmin;
    letter-spacing: -0.4cqmin;
    opacity: 0;
  } 

  .idbethere {
    display: inline-block;
    line-height: 80%;
    font-size: calc(59cqmin / 5);
    margin-right: -0.4cqmin;
    letter-spacing: -0.4cqmin;
    opacity: 0;
  }

  .probably {
    display: inline-block;
    width: 100%;
    text-align: end;
    line-height: 80%;
    padding-right: 1cqmin;
    font-size: calc(10cqmin / 5);
    letter-spacing: -0.05cqmin;
    opacity: 0;
  }
}

.shortPhrase {
  width: 100%;
}

.shortPhraseMain {
  font-size: max(2rem, calc(66cqmin / 18.5));
  line-height: 120%;
  /* letter-spacing: -0.4cqmin; */
  letter-spacing: -0.05em;

  opacity: 0;
}

.shortPhraseMaybe {
  width: 100%;
  font-size: max(0.8rem, calc(7cqmin / 5));
  margin-left: 0.5cqmin;
  opacity: 0;
  text-wrap: nowrap;
}

.whyEngineer {
  font-size: max(1rem, calc(70cqmin / 34));

  line-height: 170%;
  letter-spacing: 0.065cqmin;
  text-align: justify;
}

.whyEngineerMain {
  opacity: 0;

  display: inline-block;
}

.typingCursor {
  display: inline-block;

  width: 0.8em;
  height: 0.3em;

  margin-left: 0.3em;

  background-color: black;
  vertical-align: text-bottom;
}

