.root {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.7em;
  row-gap: 0.3em;

  & > li:has(+ li):after {
    display: inline-block;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin-bottom: calc(0.2lh + 2px);
    margin-left: 0.7em;
    background-color: color-mix(in srgb, var(--theme) 70%, white 30%);
  }
}

.item {
  color: color-mix(in hsl, var(--theme) 40%, #000 60%);
  font-size: 1.25em;
}

.prefer {
  color: color-mix(in hsl, var(--theme) 90%, #000 10%);
}
