@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  font-size: 1em; 
  font-weight: 400;
  appearance: none;
  box-sizing: border-box;
  border: none;
  text-align: left;
  font-family: inherit;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

